.footer {
    background-color: $footerColor;
    padding: 60px 0;

    &__container {
        @media screen and (max-width:1599px) {
            text-align: center;
        }

        @media screen and (min-width: 768px) and (max-width: 1599px){
            display: flex;
            flex-wrap: wrap;
        }
        // display: flex;
        // align-items: baseline;
    }
}
