.characteristic__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.benefits {
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1600px) {
        flex-basis: calc((100% - 90px) / 4);
    }
    

    &:not(:last-child) {
        margin: 0 auto 30px;
    }

    &__icon {
        @extend %flex;
        justify-content: center;
        background-color: $greyColor;
        height: 120px;
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 10px;
        color: $headerColor;
        font-size: $smallSize;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: start;
        }
    }
}
