.information {
@media screen and (min-width: 768px) {
        margin: 0 0 0 61px;
    }

@media screen and (min-width: 1200px) {
    margin: 0 70px 0 0;
    }
}


@import "./logo";

.logo__txt--white {
    @include logo($white);
}

.connection {
    margin-top: 20px; 
}

.connection__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200) {
        margin-bottom: 9px;
    }
    
}

.communication {
    @include communication ($white);

    &--grey {
    @include communication ($txtColor);
    }

    &:hover,
    &:focus,
    &:active {
        color: $accentColor;
    }
}

.join {
@media screen and (max-width: 767px) {
    margin: 60px 0;
    }
@media screen and (min-width: 768px) and (max-width: 1199px) {
    margin:0 0 0 165px;
    }
 }


.subtitle {
    margin-bottom: 20px;

    line-height: 1.14;
    text-transform: uppercase;
    color: $white;
    font-weight: $boldFont;
}

.massanger__item:not(:last-child) {
    margin-right: 10px;
}

.social--grey {
    @include massanger($white, rgba(255, 255, 255, 0.1));
}

.email {
    // margin-left: auto;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 60px auto 0 141px;
        }
    
    @media screen and (min-width: 1200px){
        margin: 0 0 0 93px;
        }
    
    // align-items: flex-end;

    &__col {
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &__input {
        // margin-right: 12px;
        padding: 15px 16px;
    
        width: 100%;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: transparent;
    
        font-size: $mediumSize;
        line-height: 1.25;
        color: $txtColor;
        background-color: transparent;

        @media screen and (min-width: 768px) {
                width: 450px;
            }

        @media screen and (min-width: 1200px) {
        width: 358px;  
        margin-right: 12px;
        }
    }
}


.button--img::after {
    content: "";
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-send.svg");
    background-size: contein;
}