.header__container,
.nav
// .navigation,
// .contact__link 
{
    @extend%flex;
}

@import "./logo";

.logo__txt--black {
    @include logo($black);
}

.pages:not(:last-child),
.contact:not(:last-child) {
    margin: 0 0 32px 0;
    // margin-right: 50px;
}

// .navigation {
//     margin-left: 93px;
// }

.pages__link {

    color: $headerColor;

    font-weight: $mediumFont;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: $smallSpacing;

    @extend%link;

    
    
    // padding: 32px 0;




    // font-size: $smallSize;
    // line-height: 0.88;

}

.info {
    display: flex;
    flex-direction: column-reverse;
    // margin-left: auto;
}

.contact__link {
    padding: 20px 0;

    font-weight: $mediumFont;
    font-size: $smallSize;
    line-height: 1.14;
    letter-spacing: $smallSpacing;
    color: $mainColor;

    @extend%link;
}

.contact__icon {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-right: 10px;
        fill: currentColor;
    }
}

.pages__link--curent {
    color: $accentColor;
    position: relative;

    // &::after {
    //         content: '';
    //         height: 4px;
    //         background: $accentColor;
    //         border-radius: 2px;
    //         top: 100%;
    //         left: 0;
    //         width: 100%;
    //         position: absolute;
    //         transform: translate(0, -3px);
    //     }
}
