.slogan {
    text-align: center;

    &__title {
            margin: auto;
            margin-bottom: 30px;
            font-weight: $blackFont;
            font-size: $logoSize;
            color: $white;
            letter-spacing: $bigSpacing;
            line-height: 1.62;
            text-transform: uppercase;
            width: 360px;
            @media screen and (min-width: 1600px) {
            font-size: $sloganSize;
            line-height: 1.36;
            width: 696px;
                
            }
        }
}

.button {
    @extend %button;
}

@import "./modal";

