.slogan {
    text-align: center;

    &__title {
            margin: auto;
            margin-bottom: 30px;
            font-weight: $blackFont;
            font-size: $sloganSize;
            width: 696px;
            color: $white;
            letter-spacing: $bigSpacing;
            line-height: 1.36;
            text-transform: uppercase;
        }
}

.button {
    @extend %button;
}

@import "./modal";

