.menu-button {
    background-color: transparent;
    border: none;

    margin-left: auto;

    &.is-open{
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 15;
    }

    & .icon-cross {
            display: none;
        }

    &.is-open .icon-cross {
        display: block;
    }
    
    &.is-open .icon-menu {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-conteiner {
    display: none;
    max-width: 480px;

    @media screen and (min-width: 768px) {
            display: flex;
        }

    &.is-open {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;

        height: 100vh;

        padding: 48px 25px;

        width: 100vw;

        background-color: $white;
    }
}

