.menu-button {
    background-color: transparent;
    border: none;

    margin-left: auto;

    &.is-open{
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 15;
    }

    & .icon-cross {
            display: none;
        }

    &.is-open .icon-cross {
        display: block;
    }
    
    &.is-open .icon-menu {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    &:focus,
    &:hover,
    &:active {
        fill: $accentColor;
    }
}

.menu-conteiner {
    display: none;

    @media screen and (max-width: 767px) {
        max-width: 480px;        
    }
    

    @media screen and (min-width: 768px) {
            display: flex;
            margin-left: auto;
        }

    &.is-open {
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        text-align: start;

        height: 100vh;

        padding: 48px 25px;

        width: 100vw;

        background-color: $white;
    }
}

