.control {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 15px 8px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 50px;
    }

    &__btn {
        @include function(color);
        
        padding: 6px 22px;
        border-radius: 4px;
        border: 2px transparent;
        text-align: center;
        cursor: pointer;
        color: $headerColor;
        background-color: $greyColor;
        font-weight: $mediumFont;
        font-size: $mediumSize;
        line-height: 1.63;
    }

        &__btn:hover,
        &__btn:focus,
        &__btn:active {
            color: $white;
            background-color: $accentColor;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }

        &__btn:last-child {
            margin-right: 8px;
        }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

&__item {
    display: flex;
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1600px) {
        flex-basis: calc((100% - 60px) / 3);
    }
}

}

.card {
    @include function(box-shadow);
    display: flex;
    flex-direction: column;
    color: currentColor;
    box-shadow: 0;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__border {
        flex-grow: 1;
        border-bottom: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        padding: 20px 24px;
    }
    
    &__title {
        color: $headerColor;
        font-size: $bigSize;
        line-height: 2;
        letter-spacing: $bigSpacing;
        margin-bottom: 4px;
    }
    
    &__point {
        font-size: $mediumSize;
        line-height: 1.88;
        color: currentColor;
    }
}

.overlay {
    position: relative;
    overflow: hidden;

    &__txt {
        @include function(transform);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
    
        padding: 63px 24px;
    
        width: 100%;
        height: 100%;
    
    
        font-size: 18px;
        line-height: 1.56;
        color: $white;
        background-color: rgba(33, 150, 243, 0.9);
    }

    .card:hover &__txt,
    .card:focus &__txt {
        transform: translateY(0);
    }
}



