.work {
    padding-top: 0;

    &__list {
        @extend %flex;
    }
}

.thing {
    position: relative;
    z-index: 10;

    &:not(:nth-child(n+3)) {
        margin-right: 30px;
    }

    &__desc {
        @extend %flex;
        position: absolute;
        bottom: 0;
        left: 0;
    
        justify-content: center;
    
        width: 370px;
        height: 70px;
    
        font-weight: $boldFont;
        line-height: 1.14;
        text-transform: uppercase;
        color: $white;
        background: rgba(47, 48, 58, 0.8);
    }
}
