.team {
    background-color: $greyColor;
}

.team__list,
.massenger {
    @extend %flex;
    justify-content: center;
}

.person {
    padding-bottom: 30px;

    width: 270px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:nth-child(n+4)) {
        margin-right: 30px;
    }

    &__name {
        margin: 30px 0 10px 0;
        color: $headerColor;
        font-weight: $mediumFont;
        font-size: $mediumSize;
        line-height: 1.19;
        text-align: center;
    }

    &__position {
        margin-bottom: 16px;
    
        font-size: $mediumSize;
        line-height: 1.19;
        text-align: center;
    }
}

.person

.massanger__item:not(:last-child) {
    margin-right: 10px;
}

.social--white {
    @include massanger($socialColor);
}

.social:active,
.social:hover,
.social:focus {
    background-color: $accentColor;
    fill: $white;
}