body {
    font-family: $mainFont;
    color: $mainColor;
    font-weight: $regularFont;
    font-size: $smallSize;
    line-height: 1.71;
    letter-spacing: $mediumSpacing;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 94px 0;
}