//color
$accentColor: #2196F3;
$mainColor: #757575;
$headerColor: #212121;
$lineColor: #ECECEC;
$bgColor: #C4C4C4;
$black:#000000;
$white:#FFFFFF;
$hoverColor: #188ce8;
$gradColor: rgba(47, 48, 58, 0.4);
$backdrop: rgba(0, 0, 0, 0.2);
$footerColor: #2F303A;
$txtColor: rgba(255, 255, 255, 0.6);
$socialColor: #afb1b8;
$greyColor: #F5F4FA;
$borderColor:#EEEEEE;

//txt fonts
$mainFont: 'Roboto', sans-serif;
$logoFont: 'Raleway', sans-serif;

$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;
$blackFont: 900;

$tinySize: 12px;
$smallSize: 14px;
$mediumSize: 16px;
$bigSize: 18px;
$largeSize: 20px;
$logoSize: 26px;
$titleSize: 36px;
$sloganSize: 44px;

$tinySpacing: 0.01em;
$smallSpacing: 0.02em;
$mediumSpacing: 0.03em;
$bigSpacing: 0.06em;








